
.menuButton, .menu{
	font-size: 14px;
	font-family: arial;
}

.menuButton {
	background-color: #4CAF50;
	color: white;
	padding: 4px;
	padding-left: 24px;
	padding-right: 24px;
	border: none;
	cursor: pointer;
	position: relative;
}

.menu hr {
	height: 1px;
	padding: 0;
	margin: 0px 5px 0px;
	color: #AAA;
	background-color: #AAA;
	border: 0;
}
.menuButton:hover, .menuButton:focus {
	background-color: #67e36c;
}

.menuContent .frontSpaceNeedEntry{
	padding-left: 41px;
}
.menu, .menuColumn, .menuButtonWithSubMenu {
	position: relative;
	display: inline-block;
}

.menuContent {
	display: none;
	position: absolute;
	z-index: 100;
	left:0px;
	background-color: #f9f9f9;
	overflow: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 220px;
}
.menuSubmenu {
	position: absolute;
	margin-top: -8px;
}
.menuContent span,
.menu .menuLabel .menuShortcut
 {
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.menu .menuLabel{
	display: block;
	width:100%;
	cursor: pointer;
}
.menu .menuLabel > span{
	display: inline-block;
}

.menu span:hover,
.menu .menuLabel:hover {
	background-color: #c7eec8
}

.menuShortcut,
.menuShortcutSubmenu{
	float:right;
}

.menuShortcut,
.menu .menuLabel .menuShortcut{
	color: #A9A9A9;
}

/* common settings checkbox and radiobutton */
.menu input[type="checkbox"],
.menu input[type="radio"]
{
	display:none;
}
.menu input[type="checkbox"] + .icon,
.menu input[type="radio"] + .icon
{
	display:inline-block;
	background: url('./tr.menu.icons.radio_and_checkbox.png') no-repeat;
	vertical-align: middle;
	width: 26px;
	height: 22px;
	padding:0px;
	cursor:pointer;
}

.menu input[type="checkbox"] + .icon
{
	background-position-x: left;
}

.menu input[type="radio"] + .icon
{
	background-position-x: right;
}

.menu input[type="checkbox"]:checked + .icon,
.menu input[type="radio"]:checked + .icon
{
	background-position-y: -66px;
}

.menu .menuLabel:hover .icon
{
	background-position-y: -22px;
}

/* disabled settings for checkbox and radiobutton */
.menu input[type="radio"]:disabled + .icon,
.menu input[type="checkbox"]:disabled + .icon
{
	opacity: .3;
}

.menu .menuDisable
{
	color:#999;
}
.menu .menuDisable:hover {
	background-color: #f9f9f9;
}